# Create API Key

### 1) First, register on https://www.openweathermap.org/
### 2) After successfully registering, obtain the API key

#  Import Libraries

In [23]:
# Importing Libraries
import requests as req
import json
import pandas as pd

# Create Query URL  and a empty list to store cities

### Query URL is the used for getting information from the API

In [24]:
# Getting base URL for Open Weather API
base_url= 'http://api.openweathermap.org/data/2.5/weather'

# Getting API key
key= '2cd240c12582cb116b1eeb99619e4091'

# Creating an empty list to store our JSON response objects
weather_data = []

# Defining the multiple cities we would like to make a request for
cities = ["Kalyan", "Mumbai", "Chennai", "Delhi", "Kolkata", "New York","Los Angeles","Chicago", "Dallas"]

# Reading through each city in our cities list and performing a request call to the API.
# Storing each JSON response object into the list
for city in cities:
    query_url = base_url + "?apikey=" + key + "&q=" + city
    weather_data.append(req.get(query_url).json())

# Data in JSON Format

In [25]:
weather_data

[{'coord': {'lon': 73.14, 'lat': 19.24},
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'base': 'stations',
  'main': {'temp': 298.65,
   'pressure': 1004,
   'humidity': 100,
   'temp_min': 298.15,
   'temp_max': 299.15},
  'visibility': 2000,
  'wind': {'speed': 1.44, 'deg': 137.173},
  'clouds': {'all': 75},
  'dt': 1562119536,
  'sys': {'type': 1,
   'id': 9052,
   'message': 0.0086,
   'country': 'IN',
   'sunrise': 1562114007,
   'sunset': 1562161760},
  'timezone': 19800,
  'id': 1268295,
  'name': 'Kalyan',
  'cod': 200},
 {'coord': {'lon': 72.85, 'lat': 19.01},
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'base': 'stations',
  'main': {'temp': 298.65,
   'pressure': 1004,
   'humidity': 100,
   'temp_min': 298.15,
   'temp_max': 299.15},
  'visibility': 2000,
  'wind': {'speed': 3.29, 'deg': 281.348},
  'clouds': {'all': 75},
  'dt': 1562119449,
  'sys': {'type': 1,
   'id': 9052,
   'message': 0.0066,
   'country': 'IN',
   'sunrise': 1562114104,
   'sunset': 1562161803},
  'timezone': 19800,
  'id': 1275339,
  'name': 'Mumbai',
  'cod': 200},
 {'coord': {'lon': 80.28, 'lat': 13.09},
  'weather': [{'id': 802,
    'main': 'Clouds',
    'description': 'scattered clouds',
    'icon': '03d'}],
  'base': 'stations',
  'main': {'temp': 303.89,
   'pressure': 1005,
   'humidity': 55,
   'temp_min': 303.71,
   'temp_max': 304.15},
  'visibility': 6000,
  'wind': {'speed': 4.1, 'deg': 240},
  'clouds': {'all': 40},
  'dt': 1562119424,
  'sys': {'type': 1,
   'id': 9218,
   'message': 0.0091,
   'country': 'IN',
   'sunrise': 1562112987,
   'sunset': 1562159353},
  'timezone': 19800,
  'id': 1264527,
  'name': 'Chennai',
  'cod': 200},
 {'coord': {'lon': 77.22, 'lat': 28.65},
  'weather': [{'id': 721,
    'main': 'Haze',
    'description': 'haze',
    'icon': '50d'}],
  'base': 'stations',
  'main': {'temp': 307.44,
   'pressure': 1001,
   'humidity': 62,
   'temp_min': 305.15,
   'temp_max': 309.26},
  'visibility': 3000,
  'wind': {'speed': 2.1, 'deg': 60},
  'clouds': {'all': 20},
  'dt': 1562119536,
  'sys': {'type': 1,
   'id': 9165,
   'message': 0.006,
   'country': 'IN',
   'sunrise': 1562111832,
   'sunset': 1562161977},
  'timezone': 19800,
  'id': 1273294,
  'name': 'Delhi',
  'cod': 200},
 {'coord': {'lon': 88.35, 'lat': 22.57},
  'weather': [{'id': 500,
    'main': 'Rain',
    'description': 'light rain',
    'icon': '10d'}],
  'base': 'stations',
  'main': {'temp': 299.15,
   'pressure': 999,
   'humidity': 94,
   'temp_min': 299.15,
   'temp_max': 299.15},
  'visibility': 2500,
  'wind': {'speed': 2.1, 'deg': 70},
  'clouds': {'all': 90},
  'dt': 1562119536,
  'sys': {'type': 1,
   'id': 9114,
   'message': 0.0063,
   'country': 'IN',
   'sunrise': 1562109955,
   'sunset': 1562158511},
  'timezone': 19800,
  'id': 1275004,
  'name': 'Kolkata',
  'cod': 200},
 {'coord': {'lon': -73.99, 'lat': 40.73},
  'weather': [{'id': 501,
    'main': 'Rain',
    'description': 'moderate rain',
    'icon': '10n'}],
  'base': 'stations',
  'main': {'temp': 298.95,
   'pressure': 1008,
   'humidity': 58,
   'temp_min': 296.48,
   'temp_max': 302.04},
  'visibility': 16093,
  'wind': {'speed': 3.1, 'deg': 300},
  'rain': {'1h': 1.78},
  'clouds': {'all': 90},
  'dt': 1562119368,
  'sys': {'type': 1,
   'id': 4026,
   'message': 0.0129,
   'country': 'US',
   'sunrise': 1562059724,
   'sunset': 1562113854},
  'timezone': -14400,
  'id': 5128581,
  'name': 'New York',
  'cod': 200},
 {'coord': {'lon': -118.24, 'lat': 34.05},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01n'}],
  'base': 'stations',
  'main': {'temp': 296.36,
   'pressure': 1011,
   'humidity': 60,
   'temp_min': 292.59,
   'temp_max': 301.15},
  'visibility': 16093,
  'wind': {'speed': 2.34, 'deg': 195.481},
  'clouds': {'all': 1},
  'dt': 1562119334,
  'sys': {'type': 1,
   'id': 3694,
   'message': 0.0101,
   'country': 'US',
   'sunrise': 1562071529,
   'sunset': 1562123291},
  'timezone': -25200,
  'id': 5368361,
  'name': 'Los Angeles',
  'cod': 200},
 {'coord': {'lon': -87.62, 'lat': 41.88},
  'weather': [{'id': 502,
    'main': 'Rain',
    'description': 'heavy intensity rain',
    'icon': '10n'},
   {'id': 211,
    'main': 'Thunderstorm',
    'description': 'thunderstorm',
    'icon': '11n'}],
  'base': 'stations',
  'main': {'temp': 296.06,
   'pressure': 1011,
   'humidity': 94,
   'temp_min': 294.26,
   'temp_max': 298.71},
  'visibility': 14484,
  'wind': {'speed': 2.6, 'deg': 270},
  'rain': {'1h': 7.18},
  'clouds': {'all': 75},
  'dt': 1562119358,
  'sys': {'type': 1,
   'id': 4861,
   'message': 0.0102,
   'country': 'US',
   'sunrise': 1562062764,
   'sunset': 1562117356},
  'timezone': -18000,
  'id': 4887398,
  'name': 'Chicago',
  'cod': 200},
 {'coord': {'lon': -96.8, 'lat': 32.78},
  'weather': [{'id': 501,
    'main': 'Rain',
    'description': 'moderate rain',
    'icon': '10n'}],
  'base': 'stations',
  'main': {'temp': 302.99,
   'pressure': 1013,
   'humidity': 55,
   'temp_min': 300.93,
   'temp_max': 304.26},
  'visibility': 16093,
  'wind': {'speed': 4.6, 'deg': 140},
  'rain': {'1h': 3.81},
  'clouds': {'all': 5},
  'dt': 1562119362,
  'sys': {'type': 1,
   'id': 4249,
   'message': 0.0119,
   'country': 'US',
   'sunrise': 1562066581,
   'sunset': 1562117947},
  'timezone': -18000,
  'id': 4684888,
  'name': 'Dallas',
  'cod': 200}]

# Extract data for multiple cities and storing it into Pandas Dataframe

In [26]:
# Creating an empty list for each variable
city_name = []
temperature_data = []
weather_description_data = []

# Extracting the city name, temperature, and weather description of each City
for data in weather_data:
    city_name.append(data['name'])
    temperature_data.append(data['main']['temp'])
    weather_description_data.append(data['weather'][0]['description'])

# Printing out the list to make sure the queries were extracted 
print ("The City Name List: " + str(city_name))
print ("The Temperature List: " + str(temperature_data))
print ("The Weather Description List: " + str(weather_description_data))

The City Name List: ['Kalyan', 'Mumbai', 'Chennai', 'Delhi', 'Kolkata', 'New York', 'Los Angeles', 'Chicago', 'Dallas']
The Temperature List: [298.65, 298.65, 303.89, 307.44, 299.15, 298.95, 296.36, 296.06, 302.99]
The Weather Description List: ['light rain', 'light rain', 'scattered clouds', 'haze', 'light rain', 'moderate rain', 'clear sky', 'heavy intensity rain', 'moderate rain']

# Create Dictionary to store Data

In [27]:
# Create a dictionary containing our newly extracted information
weather_data = {"City": city_name, 
                "Temperature": temperature_data,
                "Weather Description": weather_description_data}

# Convert Dictionary to Pandas DataFrame

In [28]:
# Converting our dictionary into a Pandas DataFrame
weather_data = pd.DataFrame(weather_data).reset_index()
weather_data

   index         City  Temperature   Weather Description
0      0       Kalyan       298.65            light rain
1      1       Mumbai       298.65            light rain
2      2      Chennai       303.89      scattered clouds
3      3        Delhi       307.44                  haze
4      4      Kolkata       299.15            light rain
5      5     New York       298.95         moderate rain
6      6  Los Angeles       296.36             clear sky
7      7      Chicago       296.06  heavy intensity rain
8      8       Dallas       302.99         moderate rain